@import "variables";

.my {
  gap: 28px;
  padding: 28px 32px 36px 32px;
  background-color: rgba($grade-2, .2);
  border-radius: 16px;
  border: $grade-2 1px solid;

  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 14px;
      font-weight: 500;
      color: $grade-4;
    }

    .warning {
      flex-direction: row;
      align-items: center;
      gap: 10px;

      .icon {
        width: 16px;
        height: 16px;
        background-color: $grade-4;

        -webkit-mask-image: url("/assets/warning.svg");
        mask-image: url("/assets/warning.svg");
        mask-repeat: no-repeat;
        mask-position: center;
      }

      p {
        font-size: 14px;
        font-weight: 500;
        color: $grade-4;
      }
    }
  }

  .list {
    flex-direction: row;
    gap: 20px;

    @media (max-width: 1000px) {
      flex-direction: column;
    }

    .item {
      flex: 1;
      flex-direction: row;
      align-items: center;
      gap: 24px;
      padding: 24px 28px;
      background-color: rgba($grade-2, .4);
      border-radius: 16px;
      border: $grade-2 1px solid;

      &.pointer {
        cursor: pointer;
      }

      .dummy {
        width: 90px;
        height: 90px;
      }

      .logo {
        background-color: $white;
        border-radius: 50%;
      }

      .info {
        gap: 10px;

        .name {
          font-size: 16px;
          font-weight: 600;
          color: $grade-8;
        }

        .status {
          font-size: 24px;
          font-weight: 500;
          color: $grade-5;
        }
      }
    }
  }
}

.grid {
  display: grid;
  row-gap: 20px;
  column-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  @media (max-width: 400px) {
    grid-template-columns: 1fr;
  }

  .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 28px;
    background-color: rgba($grade-2, .2);
    border-radius: 16px;
    border: $grade-2 1px solid;

    .info {
      gap: 10px;

      p:first-child {
        font-size: 24px;
        font-weight: 600;
        color: $grade-8;
      }

      p:last-child {
        font-size: 14px;
        font-weight: 500;
        color: $grade-4;
      }
    }

    .logo {
      background-color: $white;
      border-radius: 50%;
    }
  }
}