@import "variables";

#page.detail {
  >#header {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 80px;  
    margin-bottom: 64px;

    #back {
      cursor: pointer;

      padding: 20px;
      margin: -20px;

      svg {
        fill: var(--grade-3);
      }
    }

    #logo {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-left: 24px;
      margin-right: 28px;
      background-color: var(--white);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 100%;

      @media (max-width: 768px) {
        width: 80px;
        height: 80px;
      }
    }

    #info {
      gap: 12px;

      >* {
        flex-direction: row;
      }

      #top {
        flex-direction: row;
        align-items: center;

        #name {
          font-size: 40px;
          font-weight: 700;
          color: var(--grade-8);

          @media (max-width: 768px) {
            font-size: 30px;
          }
        }

        #links {
          flex-direction: row;
          gap: 14px;
          margin-left: 28px;

          #link {
            display: flex;
            align-items: center;

            padding: 7px;
            margin: -7px;

            svg {
              fill: var(--grade-4);
            }
          }
        }
      }

      #bottom {
        gap: 6px;

        p {
          font-size: 16px;
          font-weight: 500;
          color: var(--grade-4);
        }

        svg {
          fill: var(--grade-4);
        }
      }
    }

    #fill {
      flex: 1;
    }

    #buttons {
      #button {
        background: var(--grade-6);
        padding: 12px 24px;
        border-radius: 36px;
        font-size: 14px;
        font-weight: 500;
        color: var(--white);
        cursor: pointer;

        &.disabled {
          background-color: rgba(var(--grade-5-hex), 0.5);
          pointer-events: none;
        }
      }

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  #content {
    align-items: stretch;
    gap: 24px;
    margin-bottom: 120px;

    #row {
      flex-direction: row;
      align-items: stretch;
      justify-content: stretch;
      gap: 24px;

      @media (max-width: 768px) {
        flex-direction: column;
      }
    }

    #col {
      gap: 24px;
      overflow: hidden;

      @media (max-width: 768px) {
        flex: unset !important;
      }
    }

    #card {
      background-color: rgba(var(--grade-2-hex), 0.12);
      padding: 28px 32px;
      border: 1px solid var(--grade-2);
      border-radius: 16px;

      @media (max-width: 768px) {
        flex: unset !important;
      }

      #title {
        font-size: 14px;
        font-weight: 500;
        color: var(--grade-3);
      }
      
      #info {
        gap: 16px;
        margin-top: 20px;

        #slogan {
          font-size: 32px;
          font-weight: 600;
          color: var(--grade-6);
        }
  
        #description {
          font-size: 16px;
          font-weight: 400;
          line-height: 180%;
          color: var(--grade-8);
        }
      }

      #list {
        gap: 12px;
        margin-top: 20px;

        #item {
          flex-direction: row;
          align-items: center;
          gap: 12px;
          overflow: hidden;

          #level {
            font-size: 16px;
            font-weight: 600;
            color: var(--grade-6);
            white-space: nowrap;
          }

          #name {
            font-size: 16px;
            font-weight: 500;
            color: var(--grade-6);
            overflow:hidden;
            text-overflow:ellipsis;
            white-space:nowrap;
          }
        }
      }

      &.awards {
        flex: 1;
      }

      &.video {
        padding: 0 !important;
        overflow: hidden;
        
        #inner {
          padding-top: calc(100% / 16 * 9);

          #player {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
          }
        }
      }
    }
  }

  #gallery {
    margin-bottom: 160px;

    #title {
      font-size: 16px;
      font-weight: 500;
      color: var(--grade-3);
      margin-bottom: 20px;
    }

    #list {
      flex-direction: row;
      gap: 24px;
      overflow-x: scroll;
  
      margin-left: calc(-50vw + 50%);
      padding-left: calc(50vw - 50%);
      margin-right: calc(-50vw + 50%);
      padding-right: calc(50vw - 50%);
  
      #item {
        min-width: 400px;
        max-width: 400px;
        height: 225px;
        border-radius: 16px;
        background-color: var(--grade-2);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 100%;
      }
    }
  }

  #apply {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($black, 0.5);

    align-items: center;
    overflow-y: auto;

    opacity: 0;
    pointer-events: none;

    &.show {
      opacity: 1;
      pointer-events: auto;
    }

    #window {
      width: calc(100% - 72px - 40px);
      max-width: 840px;
      background-color: var(--grade-1);
      border-radius: 24px;
      padding: 32px 36px;
      margin: 64px 0;

      #header {
        flex-direction: row;
        align-items: center;

        #close {
          flex-direction: row;
          cursor: pointer;

          svg {
            fill: var(--grade-3);
          }
        }

        #logo {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          margin-left: 24px;
          margin-right: 16px;
          background-color: var(--white);
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: 100%;
        }

        #title {
          font-size: 20px;
          font-weight: 600;
          color: var(--grade-8);
          margin-right: 8px;
        }

        #subtitle {
          font-size: 16px;
          font-weight: 500;
          color: var(--grade-4);
        }

        #fill {
          flex: 1;
        }

        #warning {
          font-size: 14px;
          font-weight: 500;
          color: var(--grade-4);

          display: flex;
          align-items: center;
          gap: 10px;

          @media (max-width: 768px) {
            display: none;
          }

          svg {
            fill: var(--grade-4);
          }
        }
      }

      #content {
        gap: 72px;
        margin: 48px 0;

        #input {
          #placeholder {
            font-size: 24px;
            font-weight: 600;
            color: var(--grade-8);
            margin-bottom: 20px;
          }

          input, textarea {
            background-color: rgba(var(--grade-2-hex), 0.12);
            border: 1px solid var(--grade-2);
            border-radius: 16px;
            font-size: 16px;
            font-weight: 400;
            color: var(--grade-7);
            outline: none;
            padding: 24px;
            resize: none;

            &::placeholder {
              color: var(--grade-4);
            }
          }

          textarea {
            height: 100px;
            line-height: 180%;
          }

          #count {
            font-size: 14px;
            font-weight: 500;
            color: var(--grade-3);
            margin-top: 12px;
            align-self: flex-end;
          }
        }
      }

      #submit {
        background: var(--grade-6);
        padding: 16px 0;
        border-radius: 36px;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        color: var(--white);
        cursor: pointer;

        &.disabled {
          background: rgba(var(--grade-6-hex), 0.5);
          pointer-events: none;
        }
      }

      >#warning {
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        color: var(--grade-4);
        margin-top: 20px;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        svg {
          fill: var(--grade-4);
        }
      }
    }
  }
}