:root {
  --white: #FFFEFF;
  --grade-1: #E3E5EF;
  --grade-2: #CACDE0;
  --grade-3: #AEB4D4;
  --grade-4: #7F8ABD;
  --grade-5: #5A69B0;
  --grade-6: #394A9C;
  --grade-7: #212879;
  --grade-8: #0C1250;
  --grade-9: #070A34;
  --black: #02041A;
  --white-hex: 255, 254, 255;
  --grade-1-hex: 227, 229, 239;
  --grade-2-hex: 202, 205, 224;
  --grade-3-hex: 174, 180, 212;
  --grade-4-hex: 127, 138, 189;
  --grade-5-hex: 90, 104, 176;
  --grade-6-hex: 57, 74, 156;
  --grade-7-hex: 33, 40, 121;
  --grade-8-hex: 12, 18, 80;
  --grade-9-hex: 7, 10, 52;
  --black-hex: 2, 4, 26;
}