@import "variables";
@import "./vars.scss";

#footer {
  background-color: var(--grade-5);
  color: var(--white);
  flex-direction: row;
  justify-content: center;

  #inner {
    width: 100%;
    max-width: calc($max-width - 64px);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 60px 32px;
  }

  #about {
    p {
      font-size: 14px;
      font-weight: 500;
      margin-top: 14px;
      opacity: .4;
    }

    svg {
      fill: var(--grade-6);
      opacity: .56;
    }
  }

  #item {
    align-items: flex-end;
    font-size: 14px;
    
    #key {
      font-weight: 700;
      opacity: .6;
    }

    #value {
      font-weight: 600;
      opacity: .4;
      margin-top: 12px;
    }
  }

  &.glass {
    background: var(--grade-2);
    color: var(--grade-6);
  }
}